/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-image: url("/assets/bg-image.png");
  background-size: cover;
}

/* Typography
--------------------------------------------- */
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Elements
--------------------------------------------- */

.start-btn.primary.hide {
  opacity: 0;
  transition: all 500ms;
}

.start-btn {
  background: #7c7c7c;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  margin: 30rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
  position: absolute;
  z-index: 100;
  top: -10rem;
  left: 0;
  right: 0;
  font-family: "Press Start 2P", system-ui;
  opacity: 100%;
  &:focus,
  &:hover {
    background: #bcbcbc;
  }
}

.start-btn.primary {
  background: #50da00;

  &:focus,
  &:hover {
    background: #1fff06;
  }
}

/* Links
--------------------------------------------- */

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

/* Main
--------------------------------------------- */
#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-over {
  position: absolute;
  background: url("assets/end-screen.gif") no-repeat center center;
  background-color: white;
  color: black;
  font-size: 2rem;
  padding: 1rem;
  z-index: 100;
  width: 1280px;
  height: 720px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0.625rem;
  font-family: "press start 2p", system-ui;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: rgb(255, 0, 0);
  }
  50% {
    color: rgb(0, 255, 17);
  }
  100% {
    color: rgb(34, 0, 255);
  }
}

.restart-btn {
  background: #ae0000;
  border-bottom: 6px inset rgba(0, 0, 0, 0.5);
  border-left: 6px inset rgba(0, 0, 0, 0.5);
  border-right: 6px inset rgba(255, 255, 255, 0.5);
  border-top: 6px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  margin: 1rem;
  min-width: 200px;
  padding: 0.5rem;
  text-transform: uppercase;
  width: auto;
}

.game-over p {
  font-size: 3rem;
  margin: 0;
  font-family: inherit;
}

.main-container {
  height: 720px;
  width: 1280px;
  border: solid 5px black;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.infinite-scroll {
  background: url("assets/infinite-scroll-bg.png") repeat-x;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.473);
  height: 720px;
  width: 4800px;
  animation: slide 60s linear infinite;
  transition: all 100ms ease;
}
/* .infinite-scroll.fast {
  animation: slide 10s linear infinite;
} */

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1600px, 0, 0);
  }
}

.infinite-foreground {
  background: url("assets/infinite-foreground.png") repeat-x;
  height: 96px;
  width: 6015px;
  animation: slide 4s linear infinite;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.motion-line {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: translateX(+100%);
  transition: all 1s ease;
}

/* character */
.char-run {
  position: absolute;
  bottom: 5.5rem;
  left: -100rem;
  transition: all 3s ease;
}

#player {
  transform: translateY(-1.05rem);
  z-index: 4;
  transition: all 150ms ease;
}

/* buildings */
#obstacle1 {
  display: none;
  position: absolute;
  bottom: 6rem;
  left: 100%;
  z-index: 1;
  transition: all 1s ease;
  height: 200px;
  width: 100px;
  animation: obsSlider1 6s linear infinite;
}

@keyframes obsSlider1 {
  0% {
    left: 150rem;
  }
  100% {
    left: -150rem;
  }
}

#obstacle2 {
  display: none;
  position: absolute;
  bottom: 6rem;
  left: calc(100% + 500px);
  z-index: 1;
  transition: all 1s ease;
  height: 250px;
  width: 100px;
  animation: obsSlider2 6s linear infinite;
}

@keyframes obsSlider2 {
  0% {
    left: calc(100% + 60rem);
  }
  100% {
    left: calc(-100% + 60rem);
  }
}

#obstacle3 {
  display: none;
  position: absolute;
  bottom: 6rem;
  left: calc(100% + 1000px);
  z-index: 1;
  transition: all 1s ease;
  height: 200px;
  width: 150px;
  animation: obsSlider3 6s linear infinite;
}

@keyframes obsSlider3 {
  0% {
    left: calc(100%);
  }
  100% {
    left: calc(-100%);
  }
}

/* Footer
--------------------------------------------- */
/* Footer
--------------------------------------------- */
